---
http_interactions:
- request:
    method: post
    uri: https://www.google.com/accounts/ClientLogin
    body:
      encoding: UTF-8
      string: accountType=HOSTED_OR_GOOGLE&Email=kurt%40bignerdranch.com&Passwd=SEKRT_GOOGLE_PASS&service=wise&source=Gimite-RubyGoogleDrive-1.00
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: |
        SID=DQAAAOwAAADXNjpi9Cfx-4NFxxWeSFRtoq87WK2IXSq-KMXIDh9VRXasS4I6sq_TJDa6lmun_FR419QuOG24uU7qSSTREytiUx3rbcm2hDIxme5GnIL9SphUiMRgc5EGPYhZ8n-09PB7A7YOEBT74Vdm2yUXpdnAImur7BHZWO3ddouKFIAYeY_L6cLnFcLkBSXjKimIwnabsC5KvNFnLLvvdUj80xulmth6Hdi8UlzreHES25VEspNm3jBchaKZNdD_3TXzbB9b7BCGKakvYFRQuqbTwCgccHlel-5KKlx3of1S-Z_4LGZIpySbFuNIjFRaC77tBhQ
        LSID=DQAAAO4AAAAstHw2as-7jMLQMIPefThM-wS8bRGOtS9luRhsHlZX7e6-OgdLB9IlLhtMmQoN9NrU-Um3rclmPXWNFD1AK-0eQ0OSabKvHBuiOvoduC4LDYvz5bpeDCIx3p56uKO-UtoKOs8zPMZ5cVUPxHL5W6c1TWKqVP-fweE49FWdOqqcEgFWwMrpa-bAgrI61Wt9pbHQgSwkiuh5YtzUm4Vdi2F_8350PXLKUi5Nozs-qz41FQynmVNDRwpvQGqDw5ePQ2c_xxFjtNf2_qNMOJfIhJM4rjkZw9vHWfblfXO5dPxDIvStCFyFdf1M81jQ2mczPJ4
        Auth=DQAAAO0AAAAstHw2as-7jMLQMIPefThM-wS8bRGOtS9luRhsHlZX7e6-OgdLB9IlLhtMmQoN9Nrmk_wajuQ7y_iQpk32YxU209KDoRCdni78qcowcPDp1C0SKsTiyQjqCP-tuN4pIHeEyO6ir0ceOZO1Z6pZPWHNCSLvcmNla1FKsLQwtxhcfA8zMsk56EfpehjKy230ztpoRM4OtFuT2qsojCT33fun1kpU0X14A1UMjnaVqzNi7NTMcFs8NYsd_URRUbrEW1ecBiJ8Yt-EBLj7ojgpUey0JfoT39EmNJZs9FfWkkeApDneCPcFDYOxGh2wbfltkK4
  recorded_at: Tue, 04 Jun 2013 16:04:04 GMT
[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/worksheets/SEKRT_GOOGLE_SPREADSHEET/private/full
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAO4AAAAstHw2as-7jMLQMIPefThM-wS8bRGOtS9luRhsHlZX7e6-OgdLB9IlLhtMmQoN9Nrmk_wajuQ7y_iQpk32YxU209KDoRCdni78qcowcPDp1C0SKsTiyQjqCP-tuN4pIHeEyO6ir0ceOZO1Z6pZPWHNCSLvcmNla1FKsLQwtxhcfA8zMsk56EfpehjKy230ztpoRM4OtFuT2qsojCT33fun1kpU0X14A1UMjnaVqzNi7NEnsPfEIHQ76Mn0r6XsdhHuWVpudS4dYYjj-Mt2l-GJaLTPuHDExq_qiG9-tw92Uu7ShfIfbhnPqbMu3znoNg4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Fri, 09 Nov 2012 18:33:11 GMT
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:gs='http://schemas.google.com/spreadsheets/2006'><id>https://spreadsheets.google.com/feeds/worksheets/SEKRT_GOOGLE_SPREADSHEET/private/full</id><updated>2012-11-09T18:33:11.715Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title
        type='text'>Headcount</title><link rel='alternate' type='text/html' href='https://spreadsheets.google.com/ccc?key=SEKRT_GOOGLE_SPREADSHEET'/><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/SEKRT_GOOGLE_SPREADSHEET/private/full'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/SEKRT_GOOGLE_SPREADSHEET/private/full'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/SEKRT_GOOGLE_SPREADSHEET/private/full'/><author><name>cbq</name><email>cbq@bignerdranch.com</email></author><openSearch:totalResults>1</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://spreadsheets.google.com/feeds/worksheets/SEKRT_GOOGLE_SPREADSHEET/private/full/od6</id><updated>2012-11-09T18:33:11.715Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title
        type='text'>Sheet1</title><content type='text'>Sheet1</content><link rel='http://schemas.google.com/spreadsheets/2006#listfeed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/list/SEKRT_GOOGLE_SPREADSHEET/od6/private/full'/><link
        rel='http://schemas.google.com/spreadsheets/2006#cellsfeed' type='application/atom+xml'
        href='https://spreadsheets.google.com/feeds/cells/SEKRT_GOOGLE_SPREADSHEET/od6/private/full'/><link
        rel='http://schemas.google.com/visualization/2008#visualizationApi' type='application/atom+xml'
        href='https://spreadsheets.google.com/tq?key=SEKRT_GOOGLE_SPREADSHEET&amp;sheet=od6'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/SEKRT_GOOGLE_SPREADSHEET/private/full/od6'/><link
        rel='edit' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/SEKRT_GOOGLE_SPREADSHEET/private/full/od6/dbezhjbago'/><gs:rowCount>100</gs:rowCount><gs:colCount>19</gs:colCount></entry></feed>
  recorded_at: Tue, 04 Jun 2013 16:04:04 GMT
[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/cells/SEKRT_GOOGLE_SPREADSHEET/od6/private/full
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - GoogleLogin auth=DQAAAO4AAABo40rH-iEe_lH5FteTZg6Jvsmd7GpwtanHXt6DXNJcMfIUbHwkuGTh4pcfRjbQfDtQDY4IXj7V2wws2XirT3JlgqUay_CheZc-2uQz1_B7Lpggp4XItxz4TFqWb49e2E7_6353Ai4pzaK1qMrir5WXaPafX1EbeOr2-34v3yBv9WA-niqsXWatQ7AhNI8LoJajNpFq8ZJ3JTu6pefDbaN5QkZ0OMaCo1c_Bc1UO0z9sTaTljTqrkV3Q8PdMcCSWHF[...]
[...]
